
.add_user{
    margin-left: 50px;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 20px;
}

th{
    background-color:  whitesmoke;
}

button {
    margin: 0 5px;
}