.dialog{
    height: auto;
    width: 500px;
    // margin: 10px;
    // text-align: center;

}

.header{    
    background: rgb(22, 113, 231);
    color: white;
    padding: 5px;
    
}

h2{
    // padding: 2px;
    margin:5px 10px;
    font-size: 18px;
}

.body{
    padding: 20px 10px;
}

.footer{
    text-align: end;
    padding: 10px 10px;
}

mat-form-field{
    width: 80%;
}

button{
    margin: 10px;
}